---
name: Build containers
on:
  workflow_dispatch:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]
  schedule:
    - cron: "0 16 * * FRI"

jobs:
  build_push:
    name: Build and push image
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build Image
        id: build
        uses: redhat-actions/buildah-build@v2
        with:
          containerfiles: |
            ./Containerfile
          image: job79/forgejo-builder
          labels: |
            containers.bootc=1
          tags: latest
          oci: false
      - name: Push
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build.outputs.image }}
          tags: ${{ steps.build.outputs.tags }}
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          extra-args: |
            --compression-format=zstd

#      - name: Install Cosign
#        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
#        if: github.event_name != 'pull_request' && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
#        with:
#          cosign-release: "v2.6.1"
#
#      - name: Sign container image
#        if: github.event_name != 'pull_request' && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
#        run: |
#          IMAGE_FULL="${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}"
#          for tag in ${{ steps.metadata.outputs.tags }}; do
#            cosign sign -y --key env://COSIGN_PRIVATE_KEY $IMAGE_FULL:$tag
#          done
#        env:
#          TAGS: ${{ steps.push.outputs.digest }}
#          COSIGN_EXPERIMENTAL: false
#          COSIGN_PRIVATE_KEY: ${{ secrets.SIGNING_SECRET }}
